<h1><%= @membership.user.username %> solicitou participar de <%= @membership.organization.name %></h1>

<p>

  <%= url_for(controller: 'api/v1/memberships',
              id: @membership.id,
              organization_id: @membership.organization.id,
              action: 'activate',
              token: @membership.id)%>

</p>
