<h1>Recuperação de senha</h1>
Olá <%=h @user.username %>.

<p>Você solicitou envio de uma nova senha no ERP Zeta.</p>
<p>Sua senha provisória é: <%=h @user.password %> </p>
<p>Caso não tenha solicitado a recuperação da senha, entre em contato com a Zeta Informática</p>
<h5>Esta é uma senha temporária. Caso queira alterá-la acesse o sistema na opção Editar Perfil.</h5>
